#-------------------------------------#
This system was "{{ ansible_facts.nodename }}"
CPU info: "{{  ansible_facts.processor_cores }}"
Memory info: "{{ ansible_facts.memtotal }}"
#-------------------------------------#